body{

    background:#000000;
    color: #00afaf;

}

.container_main{

    width:80%;
    margin-left:10%;
    background:#0f0f0f;

}

.container_header{

    background-size:100% 200px;

    display:table;
    height:200px;
    width:100%;
    background-color:#2a2a2a;

}

.container_content{

    padding:50px;

}

.container_footer{

    background:#1a1a1a;
    text-align:center;
    padding: 20px;

}

.menu_navbar{

    text-align:center;
    display: table-cell;
    vertical-align: bottom;


}

.menu_link{

    font-family:arial;
    font-size:20pt;
    background:#000000;
    margin:5px;

}

.text_post_title{

    font-size:24pt;

}

/* forframe */

.forframe_thumb_container{

    text-align:center;
    margin-right:auto;
    margin-left:auto;
    width:320px;

}
.forframe_thumb_link{}
.forframe_thumb_img{

    padding:5px;

}

a:link{color:#00ffff;}
a:visited{color:#00ffff;}
a:hover{color:#ffffff;}