
*{

    margin : 0px;

}


.container{
	
	
}

.main_wrap{
	
	
}

.header {

    height : 200px;
	background-color:#000000;
    background-image :  url('../img/background_foot_600_200.png');

}

.nav {
	
	height:30px;
	padding:10px;
	font-size: 15px;

	font-family: arial;
	background:#000000;
	text-align:center;

	
}

.content{
	
	background:#cfcfcf;
	padding:50px;
	
}

.footer{
	
	height:50px;
	background:#000000;
	
}

a:link{color:#ff0000;}
a:visited{color:#ff0000;}
a:hover{color:#ffffff;}